<section class="about-main">
	<div class="container-fluid">
		<div class="row right">
			<div class="col-xs-12 col-md-6 text-center align-bottom my-auto">
				<h1>Relive your favorite memories</h1>
			</div>
		</div>
	</div>
</section>

<section class="about-supporting">
	<div class="container-fluid">
		<div class="row">
			<div class="col text-center my-auto">
				<h2 class="">No more sorting through photos</h2>
				<p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
				<a href="/contact" class="btn" role="button">Sign Up</a>

			</div>
		</div>
	</div>
</section>