<section class="home">
	<div class="container-fluid">
		<div class="row right">
			<div class="col-xs-12 col-md-6 text-center my-auto">
				<div>
					<h1 class="bg-gray">Create and share Stories</h1>
					<a href="#" class="btn btn-primary" role="button">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="suporting">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 my-auto">
					<h2 class="text-center bg-gray">Relive and share your adventures</h2>
					<p class="text-center">Stories automatically creates a digital journal filled with only your best photos.</p>
			</div>
		</div>
	</div>
</section>

<section class="secondary">
	<div class="container-fluid">
		<div class="row">
			<div class="col my-auto">
			</div>
		</div>
	</div>
</section>

<section class="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col text-center my-auto">
				<h2 class="">Discover Stories</h2>
				<a href="#" class="btn btn-primary" role="button">Learn more</a>

			</div>
		</div>
	</div>
</section>