* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

body {
	/*background-color: #3C433D;*/
	color: white;
}


/*   MENU   */
/* The side navigation menu */
.sidenav {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #343A40; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  z-index: 2;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  font-weight: 600;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*   MAIN   */
.right {
	justify-content: flex-end;
}

.btn {
	outline: none;
	border: none;
	padding: 4px 25px 7px 25px;
	border-radius: 0;
	color: white;
	background-color: #6F8D04;
	
}

.btn:hover {
	color:white;
	background-color: #7fa105;
}

.btn:focus {
	box-shadow: 0 0 5px 1px #6F8D04;
}

.home {
	background-image: url(https://images.unsplash.com/photo-1476360984161-bb1c3a581638?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	background-position: center;
	height: 70vh;
}

.container-fluid, .row {
	height: 100%;
}

.suporting, .about {
	height: 30vh;
}

.secondary {
	background-image: url(https://images.unsplash.com/photo-1476979877450-4037538c2749?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	background-position: center;
	height: 70vh;
}


/*   ABOUT   */
.about-main {
	background-image: url(https://images.unsplash.com/photo-1497470888337-ded683b67494?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	/*background-image: url(https://images.unsplash.com/photo-1495756650324-e45118cb3e35);*/
	background-size: cover;
	background-position: center;
	height: 70vh;
}

.about-supporting {
	height: 30vh;
}

.about-main h1 {
	max-width: 710px;
	padding: 5px 10px;
	background-color: #373A3D;
	opacity: 0.9;
	margin-left: 50px;
}



/*   SignUp   */
.signup {
	/*background-image: url(https://images.unsplash.com/photo-1497470888337-ded683b67494?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);*/
	background-image: url(https://images.unsplash.com/photo-1521188453774-625d3fa52b67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-position: center;
	height: 90vh;
}

form input {
	border: none;
	outline:none;
	height: 50px;
	width: 300px;
	margin: 7px;
}

form .btn {
	width: auto;
}


/*   FOOTER   */

footer {
	border-top: 1px solid white;
	height: 100px;
}



header {
	position: fixed;
	top: 20px;
	left: 30px;
	z-index: 2;
}

header .toggler-icon img {
	width: 70px;
	height: 70px;

}

header .toggler-icon img:hover {
	width: 72px;
	height: 72px;
}


/*   MEDIA    */

@media screen and (max-width: 767px) {
	html {
		font-size: 16px;
	}

	h1 {
		position: relative;
		z-index: 0;
	}

	.home .row, .about-main .row {
		padding-top: 50vh;
		padding-bottom: 0;
	}
}

@media screen and (orientation: portrait) {
	html {
		font-size: 16px;
	}
}